################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FutureValue.Presentation/FutureValue.Presentation/bin/Debug/net6.0
/FutureValue.Presentation/FutureValue.Presentation/obj
/FutureValue.Presentation/.vs
/.vs
/FutureValue.Presentation/FutureValue.Domain/bin/Debug/net6.0
/FutureValue.Presentation/FutureValue.Domain/obj
/FutureValue.Presentation/FutureValue.Domain.Tests/obj
/FutureValue.Presentation/FutureValue.Domain.Tests/bin/Debug/net6.0
/FutureValue.Presentation/FutureValue.Persistence/obj
/FutureValue.Presentation/FutureValue.Persistence.EfImplementation/obj
/FutureValue/.vs
/FutureValue/FutureValue.Domain/bin/Debug/net6.0
/FutureValue/FutureValue.Domain/obj
/FutureValue/FutureValue.Domain.Tests/obj
/FutureValue/FutureValue.Domain.Tests/bin/Debug/net6.0
/FutureValue/FutureValue.Persistence/bin/Debug/net6.0
/FutureValue/FutureValue.Persistence/obj
/FutureValue/FutureValue.Persistence.EfImplementation/obj
/FutureValue/FutureValue.Presentation/bin/Debug/net6.0
/FutureValue/FutureValue.Presentation/obj
/FutureValue/FutureValue.Persistence.EfImplementation/bin/Debug/net6.0
/FutureValue/FutureValue.WebApi/bin/Debug/net6.0
/FutureValue/FutureValue.WebApi/obj
/FutureValue/FutureValue.Web/obj
/FutureValue/FutureValue.Web/bin/Debug/net6.0
/FutureValue/FutureValue.Web/obj/Debug/net6.0
/FutureValue/FutureValue.Web/obj
/FutureValue/FutureValue.WebTests/bin/Debug/net6.0
/FutureValue/FutureValue.WebTests/obj
/FutureValue.Angular/.vs
/FutureValue/FutureValue.Domain.Tests/bin/Release/net6.0/CoverletSourceRootsMapping
/FutureValue/FutureValue.WebTests/bin/Release/net6.0/CoverletSourceRootsMapping
/FutureValue.Angular/FutureValue.Angular/ClientApp/.angular/cache/13.3.4
/FutureValue/FutureValue.Angular/ClientApp/.angular/cache/13.3.4
