################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FutureValue.Presentation/FutureValue.Presentation/bin/Debug/net6.0
