################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FutureValue.Presentation/FutureValue.Presentation/bin/Debug/net6.0
/FutureValue.Presentation/FutureValue.Presentation/obj
/FutureValue.Presentation/.vs
/.vs
