@using FutureValue.Web.ViewModels
@model FutureValue.Web.ViewModels.ProjectionFormViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Projection Form</h4>
<hr />
<div class="row">
    <div class="col-sm-12 col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" type="hidden" value="1" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control Name" value="New Projection" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresetValue" class="control-label"></label>
                <input asp-for="PresetValue" class="form-control PresetValue" value="0" />
                <span asp-validation-for="PresetValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowerBoundInterest" class="control-label"></label>
                <input asp-for="LowerBoundInterest" class="form-control LowerBoundInterest" value="0" />
                <span asp-validation-for="LowerBoundInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpperBoundInterest" class="control-label"></label>
                <input asp-for="UpperBoundInterest" class="form-control UpperBoundInterest" value="0" />
                <span asp-validation-for="UpperBoundInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncrementalRate" class="control-label"></label>
                <input asp-for="IncrementalRate" class="form-control IncrementalRate" value="0" />
                <span asp-validation-for="IncrementalRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaturityYears" class="control-label"></label>
                <input asp-for="MaturityYears" class="form-control MaturityYears" value="1"/>
                <span asp-validation-for="MaturityYears" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="DateCreated" class="control-label hidden"></label>
                <input asp-for="DateCreated" class="form-control DateCreated" type="hidden" value="@DateTimeOffset.UtcNow" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-success btn-preview">Preview</a>
                <a class="btn btn-primary btn-create">Save</a>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-8 projection-panel">
        <partial name="~/Views/ProjectionYear/Index.cshtml" model="new List<ProjectionYearViewModel>()" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/projectionform/projectionformpages.js"></script>
    <script src="~/js/projectionform/createpage.js"></script>
}
